@{
  Layout = "_Layout";
}

@using Factory.Models
@model Factory.Models.Machine

<h2>Machine - @Html.DisplayFor(model => model.Name)</h2>

<hr>
<input type="button" class="btn btn-outline-success" value="Add certified engineer" onclick="location.href='@Url.Action("AddEngineer", new { id = Model.MachineId })'">
<input type="button" class="btn btn-outline-warning" value="Edit machine" onclick="location.href='@Url.Action("Edit", new { id = Model.MachineId })'">
<input type="button" class="btn btn-outline-danger" value="Delete machine" onclick="location.href='@Url.Action("Delete", new { id = Model.MachineId })'">
<input type="button" class="btn btn-outline-primary" value="Back to list of machines" onclick="location.href='@Url.Action("Index")'">
<input type="button" class="btn btn-outline-primary" value="Home" onclick="location.href='@Url.Action("Index", "Home")'">
<hr>

@if(@Model.JoinEntities.Count == 0)
{
  <p>There are no engineers certified to repair @Html.DisplayFor(model => model.Name).</p>
}
else
{
  <h4>@Html.DisplayFor(model => model.Name) is certified to be repaired by:</h4>
  <ul>
  @foreach(EngineerMachine join in Model.JoinEntities)
  {
    <li>@Html.ActionLink($"{join.Engineer.Name}", "Details", "Engineers", new { id = join.Engineer.EngineerId })</li>
    @using (Html.BeginForm("DeleteEngineer", "Machines"))
    {
      @Html.Hidden("joinId", @join.EngineerMachineId)
      <input type="submit" class="btn btn-outline-danger" value="Delete">
    }
  }
  </ul>
}