@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h2>Add a machine repair certification to @Html.DisplayFor(model => model.Name)</h2>

<hr>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.EngineerId)
  
  @Html.Label("Select machine")
  @Html.DropDownList("MachineId")

  <input type="submit" value="Add machine" class="btn btn-outline-success">
}

<input type="button" class="btn btn-outline-primary" value="Home" onclick="location.href='@Url.Action("Index", "Home")'">
<input type="button" class="btn btn-outline-primary" value="Back to list" onclick="location.href='@Url.Action("Index")'">